<div class="page-wrapper">
    <div class="back-btn">
      <a routerLink="/home">
        <ion-icon name="arrow-back"></ion-icon>
      </a>
    </div>
    <div class="page-container">
      <div class="header-logo">
        <ion-avatar>Logo</ion-avatar>
        <span class="text">Sign Up Today</span>
      </div>
      <div class="signup-form">
        <app-validation-input placeholder="Email Address" validationRule="email" errorMessage="Error, please enter a valid email address"></app-validation-input>
        <div class="name">
          <app-validation-input placeholder="First Name"></app-validation-input>
          <app-validation-input placeholder="Last Name"></app-validation-input>
        </div>
        <app-validation-input placeholder="Phone Number" validationRule="phoneNumber" errorMessage="Error, please enter a valid phone number"></app-validation-input>
        <app-validation-input placeholder="Password" type="password"></app-validation-input>
        <app-validation-input placeholder="Confirm password" type="password"></app-validation-input>
      </div>
      <div class="third-signup">
        <a>
          <ion-icon size="large" name="logo-facebook"></ion-icon>
        </a>
        <a>
          <ion-icon size="large" name="logo-twitter"></ion-icon>
        </a>
        <a>
          <ion-icon size="large" name="logo-googleplus"></ion-icon>
        </a>
      </div>
      <app-button class="signup-btn" text="SIGN UP"></app-button>
      <div class="footer">
        <span>Clicking Sign Up means that you agree to the <a routerLink="/tos">Terms & Conditions</a> and <a routerLink="/policy">Privacy Policy.</a></span>
      </div>
    </div>
  </div>