ion-button {
  width: 100%;
  --border-radius: 20px;

  --border-color: transparent;
  --color: #fff;
  --background: #d6405a;

  --color-activated: #d6405a;
  --background-activated: #fff;

  --color-hover: #d6405a;
  --background-hover: #fff;
}
