<div class="page-wrapper">
  <div class="back-btn">
    <a routerLink="/home">
      <ion-icon name="arrow-back"></ion-icon>
    </a>
  </div>
  <div class="tos-header">
    <div class="header-title">Terms and Conditions</div>
  </div>
  <div class="update-button">
    <app-button text="LAST UPDATE: 2018-10-06"></app-button>
  </div>
  <ul class="tos-content">
    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
  </ul>
  <div class="tos-services">
    <h6 class="services-title">
      Services
    </h6>
    <p>
      Fusce in metus non urna malesuada dignissim sed sit amet magna. Aliquam vel tortor viverra, in at consectetur
      nunc vitae, efficitur mi etiam eu.
    </p>
    <p>
      Fusce in metus non urna malesuada dignissim sed sit amet magna. Aliquam vel tortor viverra, in at consectetur
      nunc vitae, efficitur mi etiam eu.
    </p>
    <p>
      Fusce in metus non urna malesuada dignissim sed sit amet magna. Aliquam vel tortor viverra, in at consectetur
      nunc vitae, efficitur mi etiam eu.
    </p>
  </div>
</div>