.policy-header {
  margin-bottom: 40px;
  text-align: center;
  color: #fff;
}
.policy-content {
  line-height: 18px;
  font-size: 16px;
  p {
    margin-bottom: 20px;
  }
}

a {
  color: #d6405a !important;
}