<div class="page-wrapper">
  <div class="back-btn">
    <a routerLink="/home">
      <ion-icon name="arrow-back"></ion-icon>
    </a>
  </div>
  <h4 class="policy-header">
    Privacy Policy
  </h4>
  <div class="policy-content">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ullamcorper sem vel lobortis rutrum. Etiam elit libero, hendrerit at vehicula sit amet, condimentum sit amet neque. Duis bibendum in diam sed pretium. Aliquam tempor laoreet convallis. Proin euismod, ex vel ultricies dapibus, dui turpis porta turpis, sit amet mollis nisi velit nec ligula.
    </p>
    <p>
      Curabitur hendrerit fermentum turpis, at mattis leo ultricies sit amet. In sit amet tincidunt leo, <a>sit amet luctus nisl</a>. Nam vulputate eros eget fringilla imperdiet. Etiam metus tortor, congue sit amet suscipit vitae, rutrum nec sem. Donec vel euismod dolor.
    </p>
    <p>
      Suspendisse id nisi commodo, euismod ipsum quis, tempus magna. Pellentesque a velit at eros tristique mollis at quis est. Etiam at tortor sit amet metus rutrum fringilla. Nullam quis metus feugiat, porttitor lacus ultrices, egestas odio.
    </p>
    <p>
      Nullam enim ligula, posuere id luctus eu, convallis at arcu. <a>Duis aliquet</a> erat id augue aliquet dignissim. Pellentesque luctus interdum gravida.
    </p>
  </div>
</div>