.page-container {
  display: flex;
  flex-direction: column;
  & > * {
    margin-bottom: 40px;
  }
}
.signin-form {
  display: flex;
  flex-direction: column;
  & > * {
    margin-top: 20px;
  }
  .forgot-password {
    padding-left: 20px;
    font-style: italic;
  }
}
.third-signin {
  display: flex;
  justify-content: space-around;
  a{
    color: #fff !important;
  }
}
.signin-btn {
  padding: 0 20px;
}
.footer {
  text-align: center;
  a {
    color: #e23f5d !important;
  }
}